<div class="row mt-3">

    <div class="col-lg-6">
        
        <img id="bg1" style="display: none;" src="assets/img/card/kt_background.png">
        <img id="frame_4" style="display: none;" src="assets/img/card/kt_frame_4.png">
        <img id="frame_4b" style="display: none;" src="assets/img/card/kt_frame_4b.png">
        <img id="frame_1" style="display: none;" src="assets/img/card/kt_frame_1.png">
        <img id="frame_2a" style="display: none;" src="assets/img/card/kt_frame_2a.png">
        <img id="frame_2b" style="display: none;" src="assets/img/card/kt_frame_2b.png">
        <img id="frame_3" style="display: none;" src="assets/img/card/kt_frame_3.png">
        <img id="frame_5" style="display: none;" src="assets/img/card/kt_frame_5.png">
        <img id="border" style="display: none;" src="assets/img/card/kt_border.png">
        <img id="melee" style="display: none;" src="assets/img/melee.png">
        <img id="ranged" style="display: none;" src="assets/img/ranged.png">
        <img id="range_circle" style="display: none;" src="assets/img/range_circle.png">



        <canvas class="canvas rounded" id="canvas" width="1122" height="822">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-5 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">
                <div class="form-group">
                    <label for="cardName">Card Name</label>
                    <input class="form-control" type="text" id="cardName" name="cardName" value=" " oninput="onAnyChange()">
                </div>
                {% include card/section-characteristics.html %}
                {% include card/section-weapons.html %}
                {% include card/section-ability.html %}
                {% include card/section-image.html %}
                {% include card/section-image2.html %}
<br><br>

            </div>

            {% include card/section-actions.html %}
            <br><br>
            <br><br>
        </div>
    </div>


</div>